<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>  
        <add key="SubscriptionKey" value="23657bc6c1b34ae2bc38beadf6af26cc"/>
		<add key="Region" value="westeurope"/>
		<add key="FromLanguage" value="de-DE"/>
		<add key="TargetLanguage" value="uk-UA"/>
		<add key="TargetVoice" value="uk-UA-OstapNeural"/>
	</appSettings>
</configuration>
