<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>  
        <add key="SubscriptionKey" value="YourSubscriptionKey"/>
		<add key="Region" value="westeurope"/>
		<add key="FromLanguage" value="de-DE"/>
		<add key="TargetLanguage" value="uk-UA"/>
		<add key="TargetVoice" value="uk-UA-OstapNeural"/>
		<add key="MicrophoneInputID" value="{0.0.1.00000000}.{2bdd6acc-7f00-4e18-8801-ff120c730b7f}"/>
		<add key="SpeakerOutputID" value="{0.0.0.00000000}.{8974b446-af39-4e25-86b3-9ed12ac953f8}"/>
	</appSettings>
</configuration>
