<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>  
        <add key="SpeechmaticsAuthKey" value=""/>
		<add key="SpeechmaticsRtUrl" value="wss://eu2.rt.speechmatics.com/v2/de"/>
		<add key="SpeechmaticsLanguage" value="de"/>
		<add key="DeepLAuthKey" value=""/>
		<add key="DeepLFromLanguage" value="de"/>
		<add key="DeepLTargetLanguage" value="uk"/>
		<add key="AzureAuthKey" value=""/>
		<add key="AzureRegion" value="westeurope"/>
		<add key="AzureTargetVoice" value="uk-UA-OstapNeural"/>
	</appSettings>
</configuration>
